# Application
PORT=3000

# PostgreSQL
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=foodvision
DATABASE_URL=postgres://docker:docker@db:5432/foodvision

# Google Gemini AI 
GEMINI_API_KEY=SUA_CHAVE_API_AQUI